@import '../../../scss/global';

/*logo block */

.home-logo {
  background: $black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 35px;
  max-width: 300px;
  transition: $default-transition;

  img {
    height: 32px;
  }
}
::ng-deep .company-logo {
  overflow: hidden;
  background-repeat: no-repeat;
  height: 30px;
  opacity: 1;
  background-size: contain;
  background-position-x: right;
  background-position-y: bottom;
  transition: $default-transition;
}
.hamburger {
  position: absolute;
  background: $blue-color;
  width: 31px;
  height: 29px;
  cursor: pointer;
  border-radius: 100%;
  right: 2px;
  top: 100px;

  span {
    left: 8px;
    top: 14px;
    height: 2px;
    width: 15px;
    background: $white;
    position: absolute;
    display: block;
    content: '';
  }
}
