.buttonjump {
  position: absolute;
  right: 27px;
  background: #009ddc;
  padding: 2px 5px;
  border-radius: 5px;
  max-width: 125px;
  color: white;
  max-height: 17px;
  overflow: hidden;
  transition: max-width 0.3s ease-out, max-height 0.5s ease-out 0.2s;
}
.buttonjump.open {
  max-height: 200px;
  max-width: 160px;
}
.buttonjump .jump-title {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  gap: 7px;
  align-items: center;
}
.buttonjump .jump-title:before {
  display: inline-block;
  background-image: url(/assets/icons/maximize.svg);
  content: '';
  width: 15px;
  height: 12px;
  background-repeat: no-repeat;
}
.inner-jump-links {
  border-radius: 10px;
  margin: 5px 0 3px;
  padding-left: 0px;
  background: #616161;
}
.buttonjump a {
  display: block;
  font-size: 12px;
  color: #fff;
  padding: 7px 11px;
  white-space: nowrap;
  background: #252525;
  transition: 0.3s ease-in all;
}
.buttonjump a:nth-child(2n + 1) {
  background: #151515;
}
.buttonjump a:hover {
  background: #5d757e !important;
}

.buttonjump .jump-title::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: inline-block;
  content: '';
  margin-left: -5px;
  position: relative;
  transform: rotate(-90deg);
  transition: 0.3s ease-in all;
}
.buttonjump.open .jump-title::after {
  transform: rotate(0deg);
}
