.buttonjump {
  position: absolute;
  right: 27px;
  background: #009ddc;
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  max-height: 17px;
  overflow: hidden;
  transition: 0.3s ease-in all;
}
.buttonjump.open {
  max-height: 200px;
}
.buttonjump .jump-title {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  gap: 7px;
  align-items: center;
}
.buttonjump .jump-title:before {
  display: inline-block;
  background-image: url(/assets/icons/maximize.svg);
  content: '';
  height: 12px;
  background-repeat: no-repeat;
}

.buttonjump a {
  display: block;
  margin: 5px 0;
  font-size: 12px;
  color: white;
  margin-left: 11px;
  background: #0081b5;
  padding: 3px 5px;
  border-radius: 3px;
  white-space: nowrap;
}
.buttonjump .jump-title::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: inline-block;
  content: '';
  margin-left: -5px;
  position: relative;
  transform: rotate(-90deg);
  transition: 0.3s ease-in all;
}
.buttonjump.open .jump-title::after {
  transform: rotate(0deg);
}
