/* this is temporary for reporting button mockup */

.fullscreened {
  #alt-vertical-grid .k-select {
    border-radius: 0 5px 5px 0;
  }
  .fullscreened #alt-vertical-grid .k-select {
    padding: 3px 0px;
  }
  .fullscreened #alt-vertical-grid .k-input {
    padding: 3px 6px;
  }
}

.k-grid tr.k-alt {
  background: transparent;
}
.k-grid .k-alt.subtotalrow,
.k-grid .subtotalrow {
  color: #000;
  background: #404040;
}
.k-grid .k-alt.subtotalrow td,
.k-grid .subtotalrow td {
  border-top: 1px dashed #404040;
  border-bottom: 1px dashed #999;
}
.k-grid .k-grid-content-locked .k-alt.subtotalrow td,
.k-grid .k-grid-content-locked .subtotalrow td {
  background: #999;
}
.k-grid .k-alt.totalrow,
.k-grid .totalrow {
  background-color: #999;
  color: black !important;
}
.k-grid .k-alt.totalrow td,
.k-grid .totalrow td {
  color: black;
  font-weight: bold;
  border-top: 0px;
  border-bottom: 30px solid #000;
  border-left: 0px;
  position: relative;
}
.k-grid .totalrow td:nth-child(1)::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #999;
  display: block;
  position: absolute;
  bottom: -10px;
  left: -10px;
  border-radius: 0px 0px 0px 20px;
  border: 10px solid black;
  border-width: 0px 0px 10px 10px;
}
.k-grid .k-grid-content-locked .totalrow td:nth-child(1)::after {
  background-color: #aeaeae;
}
.k-grid
  .k-grid-content-locked
  .totalrow.k-state-selected
  td:nth-child(1)::after,
.k-grid .totalrow.k-state-selected td:nth-child(1)::after {
  content: none;
}

.k-grid tbody tr.totalrow.k-state-hover td,
.k-grid tbody tr.totalrow:hover td,
.k-grid tbody tr.totalrow:hover td,
.k-grid .k-grid-content-locked tr.totalrow:hover td {
  background-color: #5d757e;
  border-bottom: 30px solid black;

  &::after {
    content: none;
  }
}

.k-grid .k-grid-content-locked .k-alt.totalrow td,
.k-grid .k-grid-content-locked .k-alt.subtotalrow td,
.k-grid .k-grid-content-locked .totalrow td,
.k-grid .k-grid-content-locked .subtotalrow td {
  background-color: rgba(255, 255, 255, 0.2);
}
.k-grid tbody tr:hover,
.k-grid tbody tr.k-state-hover,
.k-grid tbody tr:hover td,
.k-grid tbody tr.k-state-hover td,
.k-grid .k-grid-content-locked .k-state-hover td,
.k-grid .k-grid-content-locked tr:hover td,
.k-grid .k-grid-content-locked .subtotalrow:hover td,
.k-grid .k-alt.subtotalrow:hover td,
.k-grid .subtotalrow:hover td {
  background-color: #5d757e;
}
.k-grid tbody tr:hover td,
.k-grid tbody tr.k-state-hover td,
.k-grid .k-grid-content-locked .k-state-hover td,
.k-grid .k-grid-content-locked tr:hover td,
.k-grid .k-alt.subtotalrow:hover td,
.k-grid .subtotalrow:hover td {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
