/* this is temporary for reporting button mockup */
.good,
.late {
  background: #54b948;
  font-size: 12px;
  color: black;
  padding: 3px 7px;
  border-radius: 5px;
}
.late {
  background: #e31b23;
}
.text-bold {
  font-weight: 600;
}

.filter-block {
  display: none;
}
